.guide-label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 12px;
  color: white;
  user-select: none;

  .guide-checkbox {
    cursor: pointer;
    width: auto;
    padding: 0;
    flex: none;
  }
}
